PORT=5001
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/stocksense?retryWrites=true&w=majority
JWT_SECRET=stocksense_jwt_secure_super_secret_key_2025
CLIENT_URL=http://localhost:5173
NODE_ENV=development
